Repository devrel-kr/HackaLearn, pull requests merged in 2021-07, with the labels that each got.

#2 Add CODE-OF-CONDUCT.md PRIVACY-POLICY.md
  CODE-OF-CONDUCT.md
  PRIVACY-POLICY.md
Labels: 운영

#3 Add email-templates
  CODE_OF_CONDUCT.md
  PRIVACY_POLICY.md
  template/email/email-template-1.html
  template/email/email-template-2.html
  template/email/email-template-3.html
  template/email/email-template-4.html
  template/email/email-template-5.html
  template/email/email-template.md
Labels: 운영

#6 Add challenge related GHA workflows
  .github/label-actions.yml
  .github/labeler.yml
  .github/workflows/challenge-labelled.yaml
  .github/workflows/challenge-submitted.yaml
  .github/workflows/challenge-updated.yaml
  teams/해카런.md
  templates/team/team.md
Labels: ops

#5 Upload banners and modify banner sizes
  templates/banners/confirm-registration.png
  templates/banners/confirm-submission.png
  templates/banners/congrats.png
  templates/banners/hackalearn-header.png
  templates/banners/hackalearn-laptop.gif
  templates/banners/keep-it-up.png
  templates/banners/work-in-progress.png
  templates/email/email-template-1.html
  templates/email/email-template-2.html
  templates/email/email-template-3.html
  templates/email/email-template-4.html
  templates/email/email-template-5.html
  templates/email/email-template.md
Labels: ops

#11 Add : PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ops

#12 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ops

#14 Update 정상동기.md
  teams/정상동기.md
Labels: completed-aswa, record-updated

#16 Update 정상동기.md
  teams/정상동기.md
Labels: completed-aswa, record-updated

#17 Update 정상동기.md
  teams/정상동기.md
Labels: completed-aswa, record-updated

#18 Add tools page
  README.md
  tools/README.md
Labels: ops

#19 Add mentors
  README.md
  mentors/README.md
  mentors/aimeepark.jpg
  mentors/chulhyuncho.png
  mentors/jaylim.jpg
  mentors/minhoyang.jpg
  mentors/suekim.jpg
Labels: ops

#21 Update 정상동기.md
  teams/정상동기.md
Labels: completed-aswa, record-updated

#22 Update 정상동기.md
  teams/정상동기.md
Labels: completed-app, record-updated

#23 Update 정상동기.md
  teams/정상동기.md
Labels: completed-retro, record-updated
