Repository devrel-kr/HackaLearn, pull requests merged in 2021-08, with the labels that each got.

#24 Add challenge details
  README.md
  challenges/APP.md
  challenges/ASWA.md
  challenges/GHA.md
  challenges/README.md
  challenges/REPO.md
  challenges/RETRO.md
  challenges/SOCIAL.md
  challenges/challenge-aswa.png
  challenges/challenge-gha.png
  templates/email/email-template-1.html
Labels: ops

#25 Update 테스트123.md
  teams/테스트123.md
Labels: completed-aswa, record-updated

#26 Update 테스트123.md
  teams/테스트123.md
Labels: completed-gha, record-updated

#27 Update 테스트123.md
  teams/테스트123.md
Labels: completed-social, record-updated

#28 Update 테스트123.md
  teams/테스트123.md
Labels: completed-app, record-updated

#29 Update 테스트123.md
  teams/테스트123.md
Labels: completed-repo, record-updated

#30 Update 테스트123.md
  teams/테스트123.md
Labels: completed-retro, record-updated

#31 Update 팀킴.md
  teams/팀킴.md
Labels: completed-app, record-updated

#36 Update 한발짝두발짝.md (#1)
  teams/한발짝두발짝.md
Labels: completed-aswa, record-updated

#37 Update 한발짝두발짝.md
  teams/한발짝두발짝.md
Labels: completed-gha, record-updated

#38 Update README.md
  README.md
Labels: ops

#34 Update 백엔드화이팅.md for adding aswa.png
  README.en.md
  README.md
  mentors/README.md
  mentors/minhoryang.jpg
  teams/백엔드화이팅.md
Labels: completed-aswa, record-updated

#39 Update 백엔드화이팅.md for adding gha.png
  teams/백엔드화이팅.md
Labels: completed-aswa, record-updated

#41 Update 한발짝두발짝.md
  teams/한발짝두발짝.md
Labels: completed-repo, record-updated

#51 Update challenges
  challenges/RETRO.md
  challenges/SOCIAL.md
  challenges/challenge-social-1.png
  challenges/challenge-social-2.png
Labels: ops

#49 Update MS Player.md
  teams/MS Player.md
Labels: completed-social, record-updated

#44 Update 한발짝두발짝.md
  teams/한발짝두발짝.md
Labels: completed-app, record-updated

#52 Update shimumu.md
  teams/shimumu.md
Labels: completed-aswa, record-updated

#55 Update MS Player.md
  teams/MS Player.md
Labels: completed-retro, record-updated

#69 Update Glossyyoon World.md
  teams/Glossyyoon World.md
Labels: completed-aswa, record-updated

#70 docs(슬기로운취준생활): 소셜미디어 인증샷 챌린지 완료
  teams/슬기로운취준생활.md
Labels: completed-social, record-updated

#71 Update MS Player.md
  teams/MS Player.md
Labels: completed-aswa, record-updated

#72 Update MS Player.md
  teams/MS Player.md
Labels: completed-aswa, record-updated

#73 Challenge 1 complete
  teams/MS Player.md
Labels: completed-aswa, record-updated

#79 Update 월급두배받는법.md
  teams/월급두배받는법.md
Labels: completed-aswa, record-updated

#84 Update 토킹 포테이토.md
  teams/토킹 포테이토.md
Labels: completed-social, record-updated

#86 Update 토킹 포테이토.md
  teams/토킹 포테이토.md
Labels: completed-aswa, record-updated

#88 Update 토킹 포테이토.md
  teams/토킹 포테이토.md
Labels: completed-social, record-updated

#89 Update 토킹 포테이토.md
  teams/토킹 포테이토.md
Labels: completed-aswa, record-updated

#90 Update 토킹 포테이토.md
  teams/토킹 포테이토.md
Labels: completed-gha, record-updated

#92 Update MS Player.md
  teams/MS Player.md
Labels: review-required

#85 Update MS Player.md
  teams/MS Player.md
Labels: review-required

#87 Update 토킹 포테이토.md
  teams/토킹 포테이토.md
Labels: completed-aswa, record-updated

#74 Update 토킹 포테이토.md
  teams/토킹 포테이토.md
Labels: completed-aswa, record-updated

#94 Update 토킹 포테이토.md
  teams/토킹 포테이토.md
Labels: completed-social, record-updated

#96 깃헙 액션 챌린지 완료
  teams/MS Player.md
Labels: completed-gha, record-updated

#101 챌린지 #2: 깃헙 액션 Learn 챌린지 완료 (Whiskey/rockacid20)
  teams/Whiskey.md
Labels: review-required

#75 Update 토킹 포테이토.md
  teams/토킹 포테이토.md
Labels: completed-gha, record-updated

#99 챌린지 #1: 애저 정적 웹 앱 Learn 챌린지 완료 (Whiskey/rockacid20)
  teams/Whiskey.md
Labels: review-required

#77 Update 토킹 포테이토.md
  teams/토킹 포테이토.md
Labels: completed-gha, record-updated

#91 Update 토킹 포테이토.md
  teams/토킹 포테이토.md
Labels: completed-social, record-updated

#104 Update MS Player.md
  teams/MS Player.md
Labels: completed-social, record-updated

#105 add github action .md
  teams/shimumu.md
Labels: completed-gha, record-updated

#106 복구
  teams/MS Player.md
Labels: review-required

#108 Challenge #2 - Github Action Learn Challenge Complete (Gongdory/Yuna9949)
  teams/Gongdory.md
Labels: completed-gha, record-updated

#107 Challenge #1 - Azure Static Web App Learn Challenge Complete (Gongdory/Yuna9949)
  teams/Gongdory.md
Labels: completed-aswa, record-updated

#97 챌린지 #1: 애저 정적 웹 앱 Learn 챌린지 완료 (Whiskey/dream365)
  teams/Whiskey.md
Labels: completed-aswa, record-updated

#112 Challenge #1 - Azure Static Web App Learn Challenge Complete (Gongdory/DoItAmelia)
  teams/Gongdory.md
Labels: completed-aswa, record-updated

#118 챌린지 #2: 깃헙 액션 Learn 챌린지 완료 (Whiskey/JunYoung7)
  teams/Whiskey.md
Labels: completed-gha, record-updated

#113 add SNS challenge.md
  teams/shimumu.md
Labels: completed-social, record-updated

#119 Challenge #2 - Github Action Learn Challenge Complete (Gondory/DoItAmelia)
  teams/Gongdory.md
Labels: completed-gha, record-updated

#122 Update MS Player.md
  teams/MS Player.md
Labels: completed-aswa, record-updated

#123 Update MS Player.md
  teams/MS Player.md
Labels: completed-gha, record-updated

#124 Update zuzokim.md
  teams/zuzokim.md
Labels: completed-aswa, record-updated

#80 Update 월급두배받는법.md
  teams/월급두배받는법.md
Labels: completed-gha, record-updated

#127 챌린지 #2: 깃헙 액션 Learn 챌린지 완료 (Whiskey/dream365)
  teams/Whiskey.md
Labels: completed-gha, record-updated

#126 Update Glossyyoon World.md
  teams/Glossyyoon World.md
Labels: completed-gha, record-updated

#125 Update zuzokim.md
  teams/zuzokim.md
Labels: completed-social, record-updated

#117 챌린지 #1: 애저 정적 웹 앱 Learn 챌린지 완료 (Whiskey/JunYoung7)
  teams/Whiskey.md
Labels: completed-aswa, record-updated

#131 Update 월급두배받는법.md
  teams/월급두배받는법.md
Labels: completed-aswa, record-updated

#136 Update 월급두배받는법.md
  teams/월급두배받는법.md
Labels: completed-aswa, record-updated

#138 Update MS Player.md
  teams/MS Player.md
Labels: completed-aswa, record-updated

#143 Update MS Player.md
  teams/MS Player.md
Labels: completed-gha, record-updated

#144 깃헙 액션 챌린지 #2 완료
  teams/털썩유발자들.md
Labels: completed-gha, record-updated

#139 Update 월급두배받는법.md
  teams/월급두배받는법.md
Labels: completed-aswa, record-updated

#140 애저 정적 웹 앱 챌린지 완료
  teams/Whiskey.md
Labels: completed-aswa, record-updated

#141 챌린지 #2: 깃헙 액션 Learn 챌린지 완료 (Whiskey/rockacid20)
  teams/Whiskey.md
Labels: completed-gha, record-updated

#146 클라우드 스킬 챌린지 #1 : 애저 정적 웹 앱 완료
  teams/슬기로운취준생활.md
Labels: completed-aswa, record-updated

#148 슬기로운취준생활팀 깃헙 액션 챌린지 완료
  teams/슬기로운취준생활.md
Labels: completed-gha, record-updated

#147 Update 월급두배받는법.md
  teams/월급두배받는법.md
Labels: completed-gha, record-updated

#150 Update 월급두배받는법.md
  teams/월급두배받는법.md
Labels: completed-gha, record-updated

#152 Update MS Player.md
  teams/MS Player.md
Labels: completed-social, record-updated

#154 Update 월급두배받는법.md
  teams/월급두배받는법.md
Labels: completed-gha, record-updated

#156 Challenge #3 - SNS Challenge Complete (Gongdory/Yuna9949)
  teams/Gongdory.md
Labels: completed-social, record-updated

#159 클라우드 스킬 챌린지 #1 완료
  teams/털썩유발자들.md
Labels: completed-aswa, record-updated

#161 클라우드 스킬 챌린지 #2 완료
  teams/털썩유발자들.md
Labels: completed-gha, record-updated

#110 Challenge #1 - Azure Static Web App Learn Challenge Complete (Gongdory/fazerlover)
  teams/Gongdory.md
Labels: completed-aswa, record-updated

#165 클라우드 스킬 챌린지 #2 완료
  teams/털썩유발자들.md
Labels: completed-gha, record-updated

#166 [제로백, humonnom] 클라우드 스킬 챌린지 #1 완료
  teams/제로백.md
Labels: completed-aswa, record-updated

#164 클라우드 스킬 챌린지 #1 완료
  teams/털썩유발자들.md
Labels: completed-aswa, record-updated

#167 클라우드 스킬 챌린지 #1 완료
  teams/TalmoVim.md
Labels: completed-aswa, record-updated

#168 Update 월급두배받는법.md
  teams/월급두배받는법.md
Labels: record-updated, completed-retro

#171 Update 제로백.md
  teams/제로백.md
Labels: completed-aswa, record-updated

#172 Update godlife.md
  teams/godlife.md
Labels: completed-social, record-updated

#177 Update 제로백.md
  teams/제로백.md
Labels: completed-aswa, record-updated

#176 Update 제로백.md
  teams/제로백.md
Labels: completed-gha, record-updated

#170 Update godlife.md
  teams/godlife.md
Labels: completed-gha, record-updated

#181 제로백.md
  teams/제로백.md
Labels: completed-gha, record-updated

#180 Challenge #3 - 소셜미디어 인증샷 챌린지 완료 (Gongdory/DoItAmelia)
  teams/Gongdory.md
Labels: completed-social, record-updated

#184 제로백.md
  teams/제로백.md
Labels: completed-social, record-updated

#183 Update 제로백.md
  teams/제로백.md
Labels: completed-social, record-updated

#155 Challenge #2 - 깃헙 액션 챌린지 완료 (Gongdory/fazerlover)
  teams/Gongdory.md
Labels: completed-gha, record-updated

#189 블로그 후기 챌린지 완료
  teams/털썩유발자들.md
Labels: record-updated, completed-retro

#195 팀오므 라이스 - 소셜미디어 인증샷 챌린지 완료
  teams/팀오므 라이스.md
Labels: completed-social, record-updated

#194 팀오므 라이스 - 깃헙 액션 챌린지 완료
  teams/팀오므 라이스.md
Labels: completed-gha, record-updated

#192 SNS 인증샷 챌린지 완료
  teams/털썩유발자들.md
Labels: completed-social, record-updated

#169 Update godlife.md
  teams/godlife.md
Labels: completed-aswa, record-updated

#196 Update 제로백.md
  teams/제로백.md
Labels: record-updated, completed-retro

#191 Belnut patch 2
  teams/TalmoVim.md
Labels: completed-gha, record-updated

#193 팀오므 라이스 - 애저 정적 웹 앱 클라우드 스킬 챌린지 완료
  teams/팀오므 라이스.md
Labels: completed-aswa, record-updated

#208 Upate GHA workflow to handle overdue
  .github/workflows/challenge-submitted.yaml
Labels: ops

#211 Update challenge-submitted workflow
  .github/workflows/challenge-submitted.yaml
Labels: ops

#202 JaeSeoKim 클라우드 스킬 챌린지 #1: 애저 정적 웹 앱 추가Update 생생한국통.md
  teams/생생한국통.md
Labels: completed-aswa, record-updated

#209 Update KING.md
  teams/KING.md
Labels: completed-aswa, record-updated

#190 슬기로운취준생활팀 깃헙 저장소 챌린지 완료
  teams/슬기로운취준생활.md
Labels: completed-repo, record-updated

#204 블로그 후기 추가
  teams/MS Player.md
Labels: record-updated, completed-retro

#212 블로그 후기 추가
  teams/MS Player.md
Labels: record-updated, completed-retro

#213 Update KING.md
  teams/KING.md
Labels: completed-gha, record-updated

#215 SNS 인증샷 챌린지 완료
  teams/털썩유발자들.md
Labels: completed-social, record-updated

#205 정적웹앱 챌린지 완료 스크린샷 추가
  teams/하하호호.md
Labels: completed-aswa, record-updated

#219 블로그 후기 추가
  teams/MS Player.md
Labels: record-updated, completed-retro

#217 슬기로운취준생활팀 블로그 후기 챌린지 완료
  teams/슬기로운취준생활.md
Labels: record-updated, completed-retro

#206 Update Whiskey.md
  teams/Whiskey.md
Labels: completed-gha, record-updated

#220 Update Whiskey.md
  teams/Whiskey.md
Labels: completed-social, record-updated

#178 Update Whiskey.md
  teams/Whiskey.md
Labels: completed-aswa, record-updated

#218 깃헙 액션 챌린지 완료
  teams/TalmoVim.md
Labels: completed-gha, record-updated

#222 Update KING.md
  teams/KING.md
Labels: completed-social, record-updated

#203 Update godlife.md
  teams/godlife.md
Labels: record-updated, completed-retro

#188 참가 신청으로 인한 이전 PR 반영 및 챌린지#1 완료(Kyalivia)
  teams/제로백.md
Labels: completed-aswa, record-updated

#228 Update1 juwon
  teams/유주원.md
Labels: completed-aswa, record-updated

#224 Update KING.md
  teams/KING.md
Labels: record-updated, completed-retro

#229 Update 유주원.md
  teams/유주원.md
Labels: completed-gha, record-updated

#201 블로그 후기
  teams/털썩유발자들.md
Labels: record-updated, completed-retro

#226 Update KING.md
  teams/KING.md
Labels: record-updated, completed-retro

#236 Update KING.md
  teams/KING.md
Labels: completed-aswa, record-updated

#237 Update zuzokim.md
  teams/zuzokim.md
Labels: completed-gha, record-updated

#242 add blog url
  teams/shimumu.md
Labels: record-updated, completed-retro

#238 😎월급두배받는법😎
  teams/월급두배받는법.md
Labels: record-updated, completed-retro

#232 Challenge #3. 소셜미디어 인증샷 챌린지 완료
  teams/Gongdory.md
Labels: completed-social, record-updated

#239 Update zuzokim.md
  teams/zuzokim.md
Labels: completed-app, record-updated

#225 Update TalmoVim.md
  teams/TalmoVim.md
Labels: completed-aswa, record-updated

#243 깃헙 액션 클라우드 스킬 챌린지 완료
  teams/하하호호.md
Labels: completed-gha, record-updated

#247 Update MS Player.md
  teams/MS Player.md
Labels: record-updated, completed-retro

#249 Update Whiskey.md
  teams/Whiskey.md
Labels: record-updated, completed-retro

#254 Update KING.md - Challenge 2
  teams/KING.md
Labels: completed-gha, record-updated

#235 Update 유주원.md
  teams/유주원.md
Labels: completed-social, record-updated

#244 Update zuzokim.md
  teams/zuzokim.md
Labels: record-updated, completed-retro

#256 챌린지 #4. 웹 애플리케이션 챌린지 완료(Team Gongdory)
  teams/Gongdory.md
Labels: completed-app, record-updated

#265 Update KING.md SNS
  teams/KING.md
Labels: completed-social, record-updated

#253 Update KING.md
  teams/KING.md
Labels: completed-aswa, record-updated

#267 Update Whiskey.md
  teams/Whiskey.md
Labels: completed-social, record-updated

#259 Challenge #6 블로그 후기 URL 제출 챌린지
  teams/Gongdory.md
Labels: record-updated, completed-retro

#251 Update 토킹 포테이토.md
  teams/토킹 포테이토.md
Labels: completed-app, record-updated

#271 블로그 후기 챌린지 완료
  teams/털썩유발자들.md
Labels: record-updated, completed-retro

#270 Update Whiskey.md
  teams/Whiskey.md
Labels: record-updated, completed-retro

#262 Challenge #6 - Blog Review Challenge Complete (Gongdory/Yuna9949)
  teams/Gongdory.md
Labels: record-updated, completed-retro

#250 SNS 인증샷 챌린지 완료
  teams/하하호호.md
Labels: completed-social, record-updated

#252 docs: update Excel Girls.md - challenge 1번 완료
  teams/ExcelGirls.md
Labels: completed-aswa, record-updated

#269 Update blog유주원.md
  teams/유주원.md
Labels: record-updated, completed-retro

#274 (※재제출※)챌린지 #4. 애저 정적 웹 URL 제출 챌린지 완료 (Team Gongdory)
  teams/Gongdory.md
Labels: completed-app, record-updated
